{{#each this}}
  <li class='library__item movie card-item' id='{{this.id}}'>
    <a href='#' class='movie__link'>
      <img
        class='movie__img'
        src='https://image.tmdb.org/t/p/w500/{{this.poster_path}}'
        alt='{{this.titel}}'
      />

      <h3 class='movie__name'>{{this.title}}</h3>
      <div class='movie__tag'>
        <p class='movie__category'>{{#each genres}}
            {{#unless @last}} {{this.name}}, {{/unless}}
            {{#if @last}} {{this.name}} {{/if}}
          {{/each}}
          |
          {{this.release_date}}</p>
        <span class='movie__rate'>{{this.vote_average}}</span>
      </div>
    </a>
  </li>
{{/each}}