{{#each this}}
  <li class='library__item movie card-item' id='{{this.id}}'>
    <a href='#' class='movie__link'>
      <img
        class='lazyload movie__img'
        data-sizes='auto'
        {{#if this.poster_path}}
        
        data-srcset='https://image.tmdb.org/t/p/w200{{this.poster_path}} 200w,
                      https://image.tmdb.org/t/p/w300{{this.poster_path}} 300w,
                      https://image.tmdb.org/t/p/w400{{this.poster_path}} 400w,
                      https://image.tmdb.org/t/p/w500{{this.poster_path}} 500w'
        data-src='https://image.tmdb.org/t/p/w400{{this.poster_path}}'
        {{else}}
        src='https://via.placeholder.com/395x574.jpg?text=NO+IMAGE'
        {{/if}}
        
      />
      <h3 class='movie__name'>{{this.title}}</h3>
      <div class='movie__tag'>
        <p class='movie__category'>{{#each this.genre}}
            {{#unless @last}} {{this}}, {{/unless}}
            {{#if @last}} {{this}} {{/if}}
          {{/each}}
          |
          {{this.year}}</p>
      </div>
    </a>
  </li>
{{/each}}